body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font: 16px arial,sans-serif;
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  
} 
fieldset {
    margin-left: 100px;
    margin-right: 100px;
    border: 1;
  }


input[type="text"] {
  padding: 10px;
  
  
margin-top: 15px;

  transition: box-shadow 0.3s, border 0.3s;
}input[type="email"] {
  padding: 10px;
  
margin-top: 15px;

  transition: box-shadow 0.3s, border 0.3s;
}
input[type="password"] {
  padding: 10px;
 
margin-top: 15px;

  transition: box-shadow 0.3s, border 0.3s;
}
.panelm{
  border: 3px solid #FFFFFF ;
  align-items: center;
background-color: white;
    height: 300px;
  width: 300px;
  margin-top: 50px ;
  margin-left: 500px;
}
.button[type="submit"]{
  
  margin-top: 15px;
width: 200px;
height: 30px;
border: 1px solid transparent;
 box-sizing:0
}
.top {
  display: flex;
  background: transparent; 
  background-color: #000000    ;
   padding: 1em 1%;  
  height: 25px;
   position: relative;
   border-bottom: 1px solid #555;
   box-shadow: 0 2px 2px 2px rgba(25,25,25,0.2);
}

.top .icon-right{
  display: flex;
  width: 40px;
  right: 10%;
  position: absolute;
}
.top .icon-right .icon.link {  
  font-size: 13px; 
  margin-top: 6px; 
  margin-left: 16px; 
  align-items: right;
  right : 0px;
}

.top .icon-right .icon.link a {
  text-decoration: none;
  color: #FFFFFF;
   font-size: 15px;

  
}
.top .icon-left a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px; 
  padding-right: 30px;
}

.top .icon-right .icon.link a:hover{ 
  cursor: pointer;
  text-decoration: underline;
  color: #222;
  opacity: 85%;

}