  <!DOCTYPE html>
  <html style="overflow-y: scroll;">
  <head><title>
    Shoppinglist
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body style="position: absolute;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="select.php">Shoppinglist</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ session['user'] }}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
    

    



    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-success">
            <div class="panel-heading heading custom"> 
            <div class panel title> <center>Users Dashboard</center> <h4>
            
            

           </div>
           </div>
            <div class="panel-body">
            <h4> <p align=center>
              Shopping Lists
           </p>
           </h4>
<ul style="float: right;">
           <button class=" btn btn-primary" style="float: right;"><div  class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"> Add new shopping list</button></div>
           {% if datas %}
           <div>
           <button class=" btn btn-primary" style="float: right;"><div  class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#mmyModal"> Edit shopping list</button>
           </div>
           <div>
           <button class=" btn btn-primary" style=" float: right;"><div  class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#delModal"> Delete shopping list</button>
           </div>
           </ul>
            <div> 
            
                  {% for shoppinglistname in datas %}  

                  <h4> <p align=center>{{ shoppinglistname}}
               
           </p>
           </h4>       
    <table class="table table-bordered" style="margin-top: 20px;  "> 
                 <tr>
                 <th>Name</th>
                 <th> Add item </th>
                 <th>Edit item</th>
                 <th> Delete item </th>
                 </tr>

                  

                 <tr>
                   <td>{{ shoppinglistname}}</td>
                   <td><button class=" btn btn-primary"><div  class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myAdd"></button></div></td>
                   <td><div  class="glyphicon glyphicon-pencil" ></div></td>
                   <td><div class="glyphicon glyphicon-remove"> 
                   </div></td>
                 </tr>
                 
        {% if items %}
                  {% for dic in items %}
                  {% if shoppinglistname==dic["shoppinglistname"] %}

                 <tr>
                   <td>{{dic["itemname"]}}</td>
                   <td></td>

                   <td><button class=" btn btn-primary"><div  class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myEdit{{dic["item"]}}"></button></div></td>
                   <td><form style="display: inline;" action={{url_for('deleteitem')}} method="POST">
                              <input type="hidden"  style="width: 500px" name="itemname" value="{{dic["itemname"]}}">
                              <input type="hidden"  style="width: 500px" name="shoppinglistname" value="{{dic["shoppinglistname"] }}">
                              <button type="submit"  class="btn btn-primary"> <span class="glyphicon glyphicon-remove"></span ></button>
                            </form></td>
                 </tr>
              {% endif %}   
            {% endfor %}
                {% endif %}
               
                 


                
     </table>
     {% endfor %}
                {% endif %}
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new shopping list</h4>
        </div>
        <div class="modal-body">
    {% if data%}
    <center><div class="error">{{ data }}</div></center>
    {% endif %}
     <form action={{url_for('createshoppinglist')}} method="POST">
     <center><h1>Create a Shopping List</h1></center>
     <center ><input type="text"  style="width: 500px" name="shoppinglistname" placeholder="Shoppinglist name"></center>
     <script type="text/javascript">
       var formErrors = {% if form_errors %}true{% else %}false{% endif %};

$(document).ready(function() {
    if (formErrors) {
        $('.myModal').modal('show');
    }
});
     </script>
      
     
     <center><button type="submit" style="width: 530px"class="button">Create</button></center>
     </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>

<div class="modal fade" id="mmyModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update shopping list</h4>
        </div>
        <div class="modal-body">
    {% if data%}
    <center><div class="error">{{ data }}</div></center>
    {% endif %}
     
     <form action={{url_for('editshopping')}} method="POST">
     <center><h1>Edit a Shoppinglist</h1></center>
     <center ><input type="text"  style="width: 500px" name="old" placeholder="Old name">
     <input type="text"  style="width: 500px" name="shoppinglistname" placeholder="New name" >
     
     </center>
      
     <center><button type="submit" style="width: 530px"class="button">Update Shoppinglist</button></center>
     </form>
   
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>

  <div class="modal fade" id="delModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update shopping list</h4>
        </div>
        <div class="modal-body">
    {% if data%}
    <center><div class="error">{{ data }}</div></center>
    {% endif %}
     
     <form action={{url_for('delete')}} method="POST">
     <center><h1>Delete a Shoppinglist</h1></center>
     <center >
     <input type="text"  style="width: 500px" name="shoppinglistname" placeholder="Shopping list name" >
     
     </center>
      
     <center><button type="submit" style="width: 530px"class="button">Delete Shoppinglist</button></center>
     </form>
   
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  
  <div class="modal fade" id="myAdd">
              <form method="POST" action={{url_for('additems')}}>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="myAdd">Create an item</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body form-group">
                    <input type="text" name="shoppinglistname" class="form-control" placeholder="item name">
                    <input type="text" name="itemname"  class="form-control" placeholder="shopping list name">
                      
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button> 
                      </div>
                    </div>
                    </div>
                    </form>
                  </div>
                
               
{% if items %}
                  {% for dic in items %}
             <div class="modal fade" id="myEdit{{dic["item"]}}">
              <form method="POST" action={{url_for('edititem' , item=dic["item"])}}>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="myEdit">Edit This item</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body form-group">
                      <input type="text" name="item" value="{{dic["item"]}}" class="form-control">
                      <input type="hidden"  style="width: 500px" name="old" value="{{dic["itemname"]}}" >
                      
                      <input type="hidden" name="itemname" value="{{dic["post"] }}" class="form-control">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button> 
                      </div>
                    </div>
                    </div>
                    </form>
                  </div>
                      {% endfor %}
                      {% endif %}

