  <!DOCTYPE html>
  <html>
  <head><title>
    Shoppinglist
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
  </head>

  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="select.php">Shoppinglist</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ session['user'] }}</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
    

    



    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-success">
            <div class="panel-heading heading custom"> 
            <div class panel title> <center>Users Dashboard</center> <h4>
            
            

           </div>
           </div>
            <div class="panel-body">
            <h4> <p align=center>
              Shopping Lists
           </p>
           </h4>
           <button class=" btn btn-primary" style="float: right;"><div  class="glyphicon glyphicon-plus"> Add new</button></div>
            <div>          
    <table class="table table-bordered" style="margin-top: 20px;  "> 
                 <tr>
                 <th>Name</th>
                 <th> View </th>
                 <th>Edit</th>
                 <th> Delete </th>
                 </tr>
                 <tr>
                   <td>1. Vegetable shopping</td>
                   <td><div class="glyphicon glyphicon-eye-open"></div></td>
                   <td><div class="glyphicon glyphicon-pencil"></div></td>
                   <td><div class="glyphicon glyphicon-remove"></div></td>
                 </tr>
                 <tr>
                   <td>2. Clothes Shopping</td>
                   <td><div class="glyphicon glyphicon-eye-open"></div></td>
                   <td><div class="glyphicon glyphicon-pencil"></div></td>
                   <td><div class="glyphicon glyphicon-remove"></div></td>
                 </tr>


                
     </table>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  </html>