<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
 
  
</head>
<body>
<section class="top">
    <div class="icon-left"><a href="">Shoppinglist</a></div>
    <form  action={{url_for('logins')}} method="POST">
      <div class="icon-right">
        <div class="icon link"><a href="#">Login</a></div>
        <div class="icon link"><a href="/">Register</a></div>
      </div>

    </section>&nbsp;

    
    <fieldset class="fieldset">
    <legend align= "center">Shopping List Login</legend>
{% if data %}
  <center><div class="error">{{ data }}</div></center>
  {% endif %}
 
    

    <center><input type="email" class= "input" name="email" placeholder="Email" required ></center>
    <center><input type="password" class= "input" name="password" placeholder="Password" required></center>
    

    <center><button type="submit" class="button">Login</button></center>
    <center style="margin-top: 30px"><label  ><small>No account? click here <a href="/">Register</a></small></label></center>
  </div>
  </fieldset>
  
</body>
</html>