 <!DOCTYPE html>
<html>
<head>
	<title>register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
<section class="top">
    <div class="icon-left"><a href="">Shoppinglist</a></div>
      <div class="icon-right">
        <div class="icon link"><a href="/login">Login</a></div>
        <div class="icon link"><a href="#">Register</a></div>
      </div>

    </section>&nbsp;
   
    
    <fieldset class="fieldset">
    <legend align= "center">Shopping List Registration</legend>
    {% if data %}
<center><div class="error"> {{ data }}</div></center>
{% endif%}
      <form action="{{url_for('register')}}" method="POST">
    <center><input type="text" class= "input" name="name" placeholder="Name" ></center>
     <center><input type="email" class= "input" name="email" placeholder="Email" ></center>
      <center><input type="password" class= "input" name="password" placeholder="password" ></center>
       <center><input type="password" class= "input" name="cpassword"  placeholder="confirm password" ></center>
        <center><button type="submit" class="button">Register</button></center>
      </form>
        </div>
        <center style="margin-top: 30px"><label ><small >already registered? <a href="/login">login</a></small></label></center>
        </div>
        </fieldset>

</body>

</html>